.nav-header {
    
    height: 400px;
    width: 40%;;
    background-color:  #DAA520;
    justify-content: space-around;
    align-items: center;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
    padding-top: 40 px;


}

#avatar {
  padding-top: 40px;
  display: flex;    
  align-items: center;
  justify-content: center;
  flex-direction: column;
}




