
nav {
    height: 125px;
    color: #FFFFFF;
    font-size: larger;
    background-color: #4056A1;
    font-family: 'Bungee', cursive;
    width: 100%;
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    display: flex;
    top:0px;
    justify-content: space-between;
    position: fixed;
    width: 100%;

}

.Hello {
    font-family: 'Source Sans Pro';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
#write {
    font-family:'Source Sans Pro';
    font-weight: bold;
}
.icon {
    font-size: medium;
    padding-bottom: 50px;
}