
.nav-bar {
    height: 120px;
    color: #FFFFFF;
    font-size: larger;
    background-color: #4056A1;
    font-family: 'Bungee', cursive;
    width: 100vw;
    padding: 0 1.5em;
    /* padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top:0px;

}

.nav-text {
    font-family: 'Source Sans Pro';
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}
#write {
    font-family:'Source Sans Pro';
    font-weight: bold;
}
.icon {
    /* font-size: medium; */
    margin-top: -15px;
    
}