form {
    display: flex;
    flex-direction: column;
}

.counter {
    float: right;

}
#tweet-text {
  border: 0;
  font: bold;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 2px solid black;
  padding: 5px;

}
.Tweet {
    margin-top: 5px;
    font-family: 'Bungee', cursive;
    
}
button {
    background-color:  #4056A1;
    border: none;
    color: white;
}
.redcounter {
    color: red;
}

#error {
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 20px;
    border: 1px solid red;
    color: #F00; 
    display: flex;
    height: 50px;
    width: 100%;
    gap: 10px;
    padding: 20px;
    align-items: center;
    

}