form {
    display: flex;
    flex-direction: column;
}

.counter {
    float: right;

}
#tweet-text {
  border: 0;
  font: bold;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 2px solid black;

}
.Tweet {
    margin-top: 4px;
    font-family: 'Bungee', cursive;
    
}
button {
    background-color:  #4056A1;
    border: none;
    color: white;
}
.redcounter {
    color: red;
}

.validationMessage {
    font-family: Arial, sans-serif;
    font-size: 12px;
    color: #F00; 
    display: inline;
}